.container{
  padding:180px ;
  box-sizing: border-box;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: lightblue;
 box-shadow: skyblue  ;
}
 h1{
   font-family: verdana;
   font-size: 70px;
 }
 p{
   font-size: 30px;
   font-family: cursive;
 }
