.container{
  padding-right: 400px;
  margin-right: 200px;
  box-sizing: border-box;
  background-color: blue;
  box-shadow: violet;
}
 h1{
   font-family: verdana;
   font-size: 70px;
 }
 p{
   font-size: 30px;
   font-family: cursive;
 }
