.container{
    box-sizing: border-box;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: lightblue;
 box-shadow: black 2px ;
 margin: 0px;
}
 h1{
   font-family: verdana;
   font-size: 70px;
 }
 p{
   font-size: 30px;
   font-family: cursive;
 }
