<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="name"><p> QUOTED BY:</p>
                <input type="text"  required class="form-control-lg" id="name" placeholder="roots n culture">
</label>
            </div>
            <div class="form-group">

                <label for="description"><p> QUOTE:</p>
                <textarea class="form-control-lg" placeholder="talk is cheap niccur" id="description" rows="4" required></textarea>
</label>
            </div>
            <div class="form-group">
                <label for="complete"><p>DATE QUOTED:</p>
                <input class="form-control-lg" type='date' id="complete" required></label>

            </div>
            <button type="submit" class="btn btn-success">Quote!</button>
        </form>

    </div>
</div>
